# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
env/
.next/
# Database
instance/
*.db

# Environment block
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
node_modules/